html {
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background: url('img/fon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

header {
    background-color: white;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.txt-form {
    margin-left: 15px; 
    text-align: left; 
    color: black;
    margin-right: 900px;
}

.logo {
    width: 80px;
    height: auto;
}

.header-info {
    float: right;
    margin-top: 20px;
}

.header-info a {
    margin-left: 15px;
    color: black;
    text-decoration: none;
    font-size: 14px;
}
h5 a:hover {
    color: black;
}
.header-info a:hover {
    color: black;
}

.img-adaptive {
    width: 100%;
}

.text-adaptive {
    font-size: 18px;
}

.img-container {
    max-width: 400px;
    margin: 10px;
  }
.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

nav {
    color: black;
}

.sub {
    border: none;
    width: 35%; 
    height: 40px;
    color: white;
    background-color: rgb(0, 0, 0);
}

.banner {
    background-image: url('img/ochistka-ventilyacii.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: left; */
    /* position: absolute; */
    margin-top: 40px;
    margin-bottom: -440px;
    min-height: 650px;
    height: auto;
    width: 100%;
    color: black;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-top: 20px;
}

.card:hover {
    transform: translateY(-10px);
}

.container1 {
    background-color: #76CE7C;  
    height: auto; 
    margin-top: 50px;
}

.card-price {
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: solid 2px #76CE7C;
}

.form-text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: black;
}

footer {
    background-color: white;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.dropdown-content {
   
    width: 100%;
}

.numph {
    width: 50%; height: 40px; 
    border: 2px solid black;
    background-color: #E9EFF6; 
   
    margin-right: 10px;
}

.dropdown-content ul {
    list-style: none;
   
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dropdown-content li {
    display: inline-block;
    margin-top: 20px;
}

.circle-menu-item {
    text-align: center;
}

li {
    margin: 0 40px;
}

.circle-menu-item a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
}

.circle-menu-item img {
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.circle-menu-item img:hover {
    transform: scale(1.1);
}
/* .ban-text {
    background-color: #76CE7C;
    width: 900px;
    font-size: 33px;
    height: 60px;
} */
.circle-menu-item p {
    margin: 0;
    color: black;
}
.inputct {
    width: 600px; 
    height: auto; 
    margin-left: 15px;
    padding-bottom: 20px;
}
.steps-section {
    margin-top: 30px;
    padding: 40px 20px;
    width: 100%;
    background-color: #76CE7C;
    color: black;
}
.steps-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: left;
}
.steps-section p {
    text-align: left;
}
.step {
    margin-bottom: 30px;
}
.step-number {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    position: relative;
    display: inline-block;
}
.step-number::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #000000;
    margin-top: 5px;
}
.step-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}



@media screen and (max-width: 800px) {
    .logo {
        width: 200px;
        height: auto;
    }
    .txt-form {
        margin-left: 10px; 
        text-align: left; 
        color: white;
        border: none;
        margin-right: 140px;
        padding-right: 10px;
    }
    
    li {
        margin: 0 5px;
    }

    .dropdown-content li {
        display: inline-block;
        margin-top: 15px;
    }
    .dropdown-content ul {
        padding: 0;
        display: inline-block;
        margin-top: 15px;
    }
    .circle-menu-item {
        text-align: center;
    }

    .circle-menu-item a {
        text-decoration: none;
        color: black;
        display: block;
        text-align: center;
    }

    .circle-menu-item img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        transition: transform 0.6s ease;
    }
    .banner h1 {
        text-align: left;
        background-color: #76CE7C;
        width: 300px;
        color: black;
        height: 40px;
        font-size: 15px;
    }
    .logo {
        width: 450px;
        height: auto;
    }
    .text-adaptive {
        font-size: 18px;
    }

    .card-price {
        height: 400px;
    }

    .circle-menu-item a {
        font-size: 18px;
    }
    .inputct {
        border: none;
        width: auto;                                                                                                                                                                           
        height: auto; 
        margin-left: 20px;
        padding-bottom: 10px;
    }
    .container1 {
        background-color: #76CE7C;  
        height: auto; 
       
    } 
}

@media screen and (min-width: 988px) {
    .logo {
        width: 300px;
        height: auto;
    }
    .txt-form {
        margin-left: 15px; 
        text-align: left; 
        color: black;
        margin-right: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        width: 400px;
        height: auto;
    }

}

@media screen and (max-width: 500px) {
    .txt-form {
        margin-left: 10px; 
        text-align: left; 
        color: black;
        border: none;
        margin-right: 10px;
    }
    .circle-menu-item img {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        object-fit: cover;
        transition: transform 0.3s ease;
    }
    
    li {
        margin: 0 5px;
    }

    .dropdown-content li {
        display: inline-block;
        margin-top: 15px;
    }

    .circle-menu-item {
        text-align: center;
    }

    .circle-menu-item a {
        text-decoration: none;
        color: black;
        display: block;
        text-align: center;
    }

    .circle-menu-item img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        transition: transform 0.6s ease;
    }
    /* .banner h1 {
        text-align: center;
        background-color: #76CE7C;
        color: black;
        width: 300px;
        height: 40px;
        font-size: 15px;
    } */
   
    .logo {
        width: 450px;
        height: auto;
    }
    .text-adaptive {
        font-size: 18px;
    }

    .card-price {
        height: 400px;
    }
    .circle-menu-item img {
        width: 40px;
        height: 40px;
    }

    .circle-menu-item a {
        font-size: 12px;
    }
    .inputct {
        border: none;
        width: auto;                                                                                                                                                                           
        height: auto; 
        margin-left: 20px;
        padding-bottom: 10px;
    }
    .container1 {
        background-color: #76CE7C;  
        height: auto; 
       
    } 
    .banner {
        background-image: url('img/ochistka-ventilyacii.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position: left; */
        /* position: absolute; */
        margin-top: 40px;
        margin-bottom: -440px;
        min-height: 250px;
        height: auto;
        width: 100%;
        color: black;
    }
}


@media screen and (max-width: 576px) {
    .logo {
        width: 200px;
        height: auto;
    }
    .text-adaptive {
        font-size: 18px;
    }

    .card-price {
        height: 400px;
    }
}


@media screen and (max-width: 400px) {
    .circle-menu-item img {
        border-radius: 50%;
        width: 5px;
        height: 5px;
        object-fit: cover;
        transition: transform 0.3s ease;
    }
    li {
        margin: 0 5px;
    }

    .dropdown-content li {
        display: inline-block;
        margin-top: 10px;
    }

    .dropdown-content ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
       
    .circle-menu-item {
        text-align: center;
    }

    .circle-menu-item a {
        text-decoration: none;
        color: black;
        display: block;
        text-align: center;
    }

    .circle-menu-item img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        transition: transform 0.3s ease;
    }
    .banner h1 {
        text-align: center;
    }
    .txt-form {
        margin-left: 10px; 
        text-align: left; 
        color: white;
        border: none;
        margin-right: 10px;
    }
    .logo {
        width: 450px;
        height: auto;
    }
    .text-adaptive {
        font-size: 18px;
    }

    .card-price {
        height: 400px;
    }
    .circle-menu-item img {
        width: 40px;
        height: 40px;
    }
    .inputct {
        border: none;
        width: auto;                                                                                                                                                                           
        height: auto; 
        margin-left: 20px;
        padding-bottom: 10px;
    }
    .circle-menu-item a {
        font-size: 12px;
    }
    .container1 {
        background-color: #76CE7C;  
        height: auto; 
       
    }
}
}
